<div class="un-page-standard un-page-sidebar">
  <div class="un-container">
    <div class="un-col-md-8 un-content">
  		<div class="un-item-post un-item-medium">

  			<div class="un-post-media un-post-image un-overlay-4">
  			  <%= image_tag(@post.image) %>
        </div><!-- end page top / page media -->

  			<div class="un-post-caption un-shadow">

  				<div class="un-share-mask"></div>
  				
  			    <ul class="un-list-share un-list-share-side">
  			    	<li><a href="#"><i class="un-icon-social-twitter"></i></a></li>
  			        <li><a href="#"><i class="un-icon-facebook"></i></a></li>
  			        <li><a href="#"><i class="un-icon-google-plus"></i></a></li>
  			        <li><a href="#"><i class="un-icon-pinterest"></i></a></li>
  			    </ul>

  				  <div class="un-post-head">
              <div class="un-post-hash">
                <% @post.tag_list.each do |tag| %>
                <span style="text-transform: lowercase;">#<%= tag %></span>
                <% end %>
              </div>
              <div class="un-post-title"><%= @post.title %></div>
              <div class="un-divider-center"></div>
  			    </div>
  			    
  			    <div class="un-post-content">
              <%= @post.body.html_safe %>
            </div>
  			                        
  			    <div class="un-post-info">
  			        <div class="un-post-stats un-pull-right">
                  <% if @post.author == current_user %>
  			        	<span class="un-post-views"><i class="fa fa-cogs"></i><%= link_to "edit", edit_post_path(@post) %></span>
                  <% end %>
                  <span class="un-post-views"><i class="un-icon-eye"></i>575</span>
  			        </div>
  			        <div class="un-clearfix"></div>
  			    </div><!-- end page meta / stats -->
  			            
  			</div><!-- end page content -->



  		</div>

<!-- comments -->

<div class="un-comments">
  <div class="un-comments-title"><%= @post.comments.count %> comments</div>
  <ul id="comments-container" class="un-comment-list">
    <%= render @comments %>
  </ul><!-- end comment list -->
</div>

<!-- // comments -->

<!-- comment form -->
<div class="un-comment-form">

  <div id="comments-form-title" class="un-form-title">leave a reply</div>
    
  <%= form_for Comment.new, remote: true do |f| %>

    <div class="field">
      <%= f.text_area :body, class: "un-input" %>
    </div>
    <%= f.hidden_field :post_id, value: @post.id %> 
    <%= f.hidden_field :reply_to, id: "reply-to", value: "" %> 
              
    <%= f.submit class: "un-btn-submit" do %>
      post comment <i class="un-icon-feather"></i>
    <% end %>
  
  <% end %>

</div>
<!-- // comment form -->

    </div>
  </div>
</div>