<!DOCTYPE html>
<html>
<head>
  <title>Newsable</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <% if current_user %>
    <h2><%= current_user.name %></h2>
    <%= link_to 'Exit', logout_path, method: :delete %> |
    <%= link_to 'View Posts', posts_path %> |
    <%= link_to 'Add Post', new_post_path %>
    <% else %>
    <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Sign In", new_session_path %>
    <% end %>
  </header>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

  <%= yield %>

</body>
</html>
